<a href="https://colab.research.google.com/github/Bramhaja/Python-Practice-for-DS/blob/main/PYTHON_for_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
product1 = 10
product2 = 20
Salary = 45000.99
Name1 = 'Laptop'
Name2 = "Laptop"
Name3 = """Laptop"""
print(Name1,type(Name1))
print(Name2,type(Name2))
print(Name3,type(Name3))
print("product1",type(product1))
print("Name",type(Name))
print("Salary",type(Salary))
print("I am taking",product1,product2, Name)

Laptop <class 'str'>
Laptop <class 'str'>
Laptop <class 'str'>
product1 <class 'int'>
Name <class 'str'>
Salary <class 'float'>
I am taking 10 20 Laptop

In [ ]:
values = {10:"john",20:"lakshmi",30:"karthik",40:"udhy",50:"fruits"}
print(values)
print(values,type(values))

{10: 'john', 20: 'lakshmi', 30: 'karthik', 40: 'udhy', 50: 'fruits'}
{10: 'john', 20: 'lakshmi', 30: 'karthik', 40: 'udhy', 50: 'fruits'} <class 'dict'>

In [ ]:
r = range(1, 100)
for add in r:
    print(value)

99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99

In [ ]:
r = range(1, 100)
for add in r:
    print(value)

99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99